textarea{background-color: aquamarine;
         height: 100px;
         width: 200px;}
fieldset{
background-color: lightgoldenrodyellow;
font-family: sans-serif;
font-size: 14px;
;}
.typetour{font-size: 40px;}