body{font-family: sans-serif;}
h2{text-align: center;
   font-family: serif;}
.center{text-align: center;
    font-family: serif;
    font-style: oblique;
      font-size: 36px;}


#parent{ background-image: url(../images/sindh.jpeg);
         display: flex;
         margin: auto;
         justify-content: center;}
.pic9{ height: 100%;}